<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Venda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<tbody>
    <div id="navbar">
        <a href="{{ url_for('planilha_dia') }}"><button>Vendas - Dia</button></a>
        <a href="{{ url_for('planilha_mes') }}"><button>Vendas - Mês</button></a>
        <a href="/"><button>Recarregar</button></a>
    </div>
</tbody>
<body>
    <div>
        <h1>Registrar Venda</h1>
        <form action="{{ url_for('registro') }}" method="post" id="vendaForm">
            <input id="numeros" type="text" inputmode="numeric" pattern="[0-9 ]+" name="valor" placeholder="Digite o valor da venda" required>
            <br>
            <select name="metodo" id="metodo" required>
                <option value="" selected disabled hidden>Método de pagamento</option>
                <option value="Dinheiro">Dinheiro</option>
                <option value="Debito">Débito</option>
                <option value="Credito">Crédito</option>
            </select>
            <br>
            <div class="conteudo"></div>
            
            <button type="submit">Registrar</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='main.js')}}" defer></script>
</body>
</html>