<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Venda</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="inicio">
        <form action="{{ url_for('registro') }}" method="post" id="vendaForm">
            <input type="number" name="valor" placeholder="Digite o valor da venda" required>
            <br>
            <select name="metodo" id="metodo" required>
                <option value="" selected disabled hidden>Método de pagamento</option>
                <option value="Dinheiro">Dinheiro</option>
                <option value="Debito">Débito</option>
                <option value="Credito">Crédito</option>
            </select>
            <br>
            <div class="conteudo"></div>
            
            <button type="submit" onclick="showAlert()">Registrar</button>
        </form> <br><br>
        <a href="/planilha">
            <button>Planilha</button>
        </a>
    </div>

    <script src="../static/main.js"></script>
</body>
</html>