{% extends "template.html" %}

{% block title %}Total do mês{% endblock %}

{% block tbody %}
    <a href="/"><button>Inicio</button></a>
    <a href="{{ url_for('planilha_dia') }}"><button>Vendas - Dia</button></a>
    <a href="{{ url_for('troco') }}"><button>Troco</button></a>
{% endblock %}

{% block body %}
    <div>
        <h1>{{mes}}</h1>
        <table>
            <thead>
                <tr>
                    <th class="escuro"> </th>
                    <th class="escuro">DINHEIRO</th>
                    <th class="escuro">DÉBITO</th>
                    <th class="escuro">CRÉDITO</th>
                    <th class="claro"> </th>
                    <th class="escuro">TOTAL</th>
                    <th class="claro"> </th>
                    <th class="escuro">TROCO</th>
                    <th class="escuro">RETIRADA</th>
                    <th class="claro"> </th>
                    <th class="escuro">TROCO DO MÊS ANTERIOR</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data[1:33] %}
                <tr>
                    {% for cell in row[:11] %}
                        <td {% if row[0] == 'DIA ' + hoje|string and cell is not none %} class="escuro-bold"
                            {% elif row[7] == 'TOTAL:' %} class="escuro-bold"
                            {% elif 'DIA' in cell|string %} class="escuro-bold"
                            {% endif %} >
                            {% if 'DIA' in cell|string or 'TOTAL' in cell|string %}
                                {{ cell if cell is not none else '' }}
                            {% else %}
                                {{ 'R$ ' + cell|string + ',00' if cell is not none else '' }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}