<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total do mês</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="planilha">
        <table style="font-size: 10px;">
            <thead>
                <tr>
                    <th> </th>
                    <th>DINHEIRO</th>
                    <th>DÉBITO</th>
                    <th>CRÉDITO</th>
                    <th> </th>
                    <th>TOTAL</th>
                    <th> </th>
                    <th>TROCO</th>
                    <th>RETIRADA</th>
                    <th> </th>
                    <th>TROCO DO MÊS ANTERIOR</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data[1:32] %}
                <tr>
                    {% for cell in row[0:11] %}
                    <td>{{ cell if cell is not none else '' }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table> <br>
        <a href="/">
            <button>Inicio</button>
        </a>
    </div>
</body>
</html>