{% extends "template.html" %}

{% block title %}Vendas{% endblock %}

{% block tbody %}
    <div id="navbar">
        <a href="/"><button>Inicio</button></a>
        <a href="{{ url_for('planilha_mes') }}"><button>Vendas - Mês</button></a>
        <a href="{{ url_for('troco') }}"><button>Troco</button></a>
        <a href="{{ url_for('planilha_dia') }}"><button>Recarregar</button></a>
    </div>
{% endblock %}

{% block body %}
    <div>
        <h1>{{dia}}</h1>
        <table>
            <thead>
                <tr>
                    <th>DINHEIRO</th>
                    <th>DÉBITO</th>
                    <th>CRÉDITO</th>
                    <th>PARECLAS</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data[1:] %}
                <tr>
                    {% for cell in row %}
                    {% if 'x' in cell|string %}
                    <td>{{ cell if cell is not none else '' }}</td>
                    {% else %}
                    <td>{{ 'R$ ' + cell|string + ',00' if cell is not none else '' }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}