<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total do mês</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>{{mes}}</h1>
    <div id="planilha">
        <table style="font-size: 10px;">
            <thead>
                <tr>
                    <th> </th>
                    <th>DINHEIRO</th>
                    <th>DÉBITO</th>
                    <th>CRÉDITO</th>
                    <th> </th>
                    <th>TOTAL</th>
                    <th> </th>
                    <th>TROCO</th>
                    <th>RETIRADA</th>
                    <th> </th>
                    <th>TROCO DO MÊS ANTERIOR</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data[1:33] %}
                <tr>
                    {% for cell in row[0:11] %}
                    {% if 'DIA' in cell|string %}
                    <td style="background-color: #70AD47; font-weight: bold;">{{ cell if cell is not none else '' }}</td>
                    {% elif 'TOTAL' in cell|string %}
                    <td style="font-weight: bold;">{{ cell if cell is not none else '' }}</td>
                    {% else %}
                    <td>{{ 'R$ ' + cell|string if cell is not none else '' }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table> <br>
        <a href="/">
            <button>Inicio</button>
        </a> <br><br>
        <a href="{{ url_for('planilha_dia') }}">
            <button>Planilha</button>
        </a>
    </div>
</body>
</html>