<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<tbody>
    <div id="navbar">
        {% block tbody %}

        {% endblock %}
        <a href="{{ request.url }}"><button>Recarregar</button></a>
    </div>
</tbody>
<body>
    {% block body %}

    {% endblock %}

    <div id="notification" class="notification">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                        <span id="timer" class="timer">(10s)</span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
</body>
</html>