<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <meta http-equiv="refresh" content="5">
        {% endif %}
    {% endwith %}
</head>
<tbody>
    {% block tbody %}

    {% endblock %}
</tbody>
<body>
    {% block body %}

    {% endblock %}

    <div id="notification" class="notification">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <script src="{{ url_for('static', filename='main.js')}}" defer></script>
</body>
</html>